<div class="row">
	<div class="col header">
		<a class="heading" href="/" title="<%= __('home.back') %>"><h1 class="translatable" data-translation-key="<%= hat %>.headline" data-translation-transformer="_.startCase"><%= _.startCase(__(hat + '.headline')) %></h1></a>
	<% if(nextHat) { %>
		<a class="next" href="/hats/<%= nextHat %>">next: <%= nextHat %></a>
	<% } %>
		<a href="#languages" id="languageSwitch" data-toggle="modal" data-target="#languageModal" title="Switch language"><%= getLanguage() %></a>
		<div class="brand">
			<a href="." title="<%= __('home.back') %>"><img src="img/dan.png" alt="Dan, the Polygoat" height="100"></a>
		</div>
	</div>
</div>
<% if(__(hat + '.subheadline')) { %>
<div class="row bar translatable" data-translation-key="<%= hat %>.subheadline" data-translation-transformer="marked">
	<%= marked(hat + '.subheadline') %>
</div>
<% } %>
<div class="row paper">
	<% if(template) { %>
		<%= include(template) %>
	<% } else { %>
		<span class="translatable" data-translation-key="<%= hat %>.body" data-translation-transformer="marked"><%= marked(hat + '.body') %></span>
	<% } %>
</div>