<!-- 																<%= _.repeat("\n", 10) %>
	Interested in the source code? 									<%= _.repeat("\n", 50)  %>
	I get that, but at least I'm gonna make you scroll for it! 		<%= _.repeat("\n", 50)  %>
	Come on… 														<%= _.repeat("\n", 70)  %>
	Keep going! 													<%= _.repeat("\n", 100) %>
	Almost there! 													<%= _.repeat("\n", 150) %>
	Aren't your fingers numb from all the scrolling?				<%= _.repeat("\n", 300) %>
	Alright, you deserve it! 										<%= _.repeat("\n", 30)  %>
	Here it goes:
--><!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		<%= page.title || 'Dan Borufka, Polygoat' %>
	</title>
	<base href="<%= base %>/" />

	<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffd89b">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffd89b">

<%	if(isLocal) { %>
	<link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css">
<% } else { %>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<% } %>

	<link rel="stylesheet" type="text/css" href="css/main.css">
<% 	if(page.styles.length) { 
		_.each(page.styles, style => { %>	<link rel="stylesheet" type="text/css" href="<%= style %>">
<% 		});
	} %></head>
<body>
	<iframe src="responsive-goat.html" id="responsive-goat"></iframe>
	<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModalLbl" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="languageModalLbl">Select a language</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <ul class="select languages">
	        <% _.each(languages, (label, code) => { %>
	        	<li class="<%= language === code ? 'selected' : '' %>" data-value="<%= code %>"><a href="#<%= code %>"><%= label %></a></li>
	        <% }); %>
	        </ul>
	      </div>
	      <div class="modal-footer">
	        <a href="close" class="cancel" data-dismiss="modal">Cancel</a>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="container-fluid" id="main">