		<div class="checker hidden-xs"></div>
		<div class="row flex-container vertical">
			<div class="vspacer">
				<a href="#languages" id="languageSwitch" data-toggle="modal" data-target="#languageModal" title="Switch language"><%= getLanguage() %></a>
			</div>
			<div class="logo">
				<h1>Hi. <span class="sm">I'm</span> Dan.</h1>
				<a>
					<canvas id="goat" width="387" height="441"></canvas>
				</a>
				<h2><span class="sm">The</span> P<span class="invisible">o</span>lygoat</h2>
			</div>
			<div class="vspacer vr"></div>
		</div>
		<div class="row">
			<div class="bar pipeline translatable" data-translation-key="home.pipeline">
				<%= __('home.pipeline') %>
			</div>
			<div class="paper pipeline">
				<div class="img-scroll-container" id="marketing_scroll">
					<canvas id="sausage" width="1452.77" height="267.25" min-width="800"></canvas>
					<!-- <img src="img/marketing-pipeline.jpg" width="100%" style="min-width: 600px; max-width:1245px;"> -->
				</div>
				<p class="translatable" data-translation-key="home.jobs"><%= __('home.jobs') %></p>
			</div>
			<div class="bar translatable" data-translation-key="home.hats">
				<%= __('home.hats') %>
			</div>
			<div class="paper">
				<div class="container" id="hats">
					<a href="hats/designer" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/designer.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="designer.headline"><%= __('designer.headline') %></span>
					</a>
					<a href="hats/linguist" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/linguist.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="linguist.headline"><%= __('linguist.headline') %></span>
					</a>
					<a href="hats/math-hat" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/programmer.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="mathHat.headline"><%= __('mathHat.headline') %></span>
					</a>
					<a href="#hats/coming-soon" class="col-xs-12 col-sm-3 disabled" style="background-image:url(img/hats/coming-soon.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="comingSoon.headline"><%= __('comingSoon.headline') %></span>
					</a>
					<a href="hats/animator" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/animator.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="animator.headline"><%= __('animator.headline') %></span>
					</a>
					<a href="hats/copywriter" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/copywriter.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="copywriter.headline"><%= __('copywriter.headline') %></span>
					</a>
					<a href="#hats/marketeer" class="col-xs-12 col-sm-3 disabled" style="background-image:url(img/hats/marketeer.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="marketeer.headline"><%= __('marketeer.headline') %></span>
					</a>
					<a href="hats/party-hat" class="col-xs-12 col-sm-3" style="background-image:url(img/hats/party.svg);">
						<span class="underline">&nbsp;</span>
						<span class="title translatable" data-translation-key="partyHat.headline"><%= __('partyHat.headline') %></span>
					</a>
				</div>
			</div>
			<div class="bar translatable" data-translation-key="home.polygoat.question">
				<%= __('home.polygoat.question') %>
			</div>
			<div class="paper">
				<p>
					<img src="img/dan-face.png" width="200"><br><br>
					<span class="translatable" data-translation-key="home.polygoat.answer" data-translation-transformer="marked">
						<%= marked('home.polygoat.answer') %>
					</span>
				</p>
			</div>
		</div>
		<script type="text/paperscript" src="js/home.min.js" canvas="goat"></script>
		<script type="text/paperscript" src="js/sausage.js" canvas="sausage"></script>