<div class="row">
	<div class="col header">
		<h1><%= page.headline %></h1>
		<a href="#languages" id="languageSwitch" data-toggle="modal" data-target="#languageModal" title="Switch language">EN (US)</a>
		<div class="brand">
			<a href="." title="Back home"><img src="img/dan.png" alt="Dan, the Polygoat" height="100"></a>
		</div>
	</div>
</div>
<% if(page.subheadline) { %>
<div class="row bar">
	<%= page.subheadline %>
</div>
<% } %>
<div class="row paper">
	<% if(page.subpage) { %>
		<%= include( page.subpage ) %>
	<% } else { %>
		<%= page.body %>
	<% } %>
</div>