@import 'vars';

// fonts:
@font-face {
							font-family: 		'Miso Light';
							font-style: 		normal;
							font-weight: 		100;
							src: 				url('miso-light.woff') format('woff'), local('Miso Light');
}
@font-face {
							font-family: 		'Miso';
							font-style: 		normal;
							font-weight: 		normal;
							src: 				url('miso.woff') format('woff'), local('Miso Regular');
}
@font-face {
							font-family: 		'Miso Bold';
							font-style: 		normal;
							font-weight: 		500;
							src: 				local('Miso Bold'), url('miso-bold.woff') format('woff');
}
@font-face {
						    font-family: 		'Nickainley-Normal';
						    src: 				url('Nickainley-Normal.ttf.woff') format('woff'),
						        				url('Nickainley-Normal.ttf.svg#Nickainley-Normal') format('svg'),
						        				url('Nickainley-Normal.ttf.eot'),
						        				url('Nickainley-Normal.ttf.eot?#iefix') format('embedded-opentype'); 
						    font-weight: 		normal;
						    font-style: 		normal;
}

body {
							background-color: 	$main_bg_color;
							color: 				$main_ink_color;
							font-family: 		Miso, DIN, sans-serif;
							font-size: 			28px;
							position: 			absolute;
							bottom: 			0;
							left: 				0;
							right: 				0;
							top: 				0;
	@media (max-width: $sm-break-point) {
							font-size: 			24px;
	};
};

a,
a:hover,
a:visited 				{
							color:  			$main_ink_color;
};

b, strong 				{
							font-family: 		'Miso Bold';
}
img 					{
							backface-visibility: hidden;
							border: 			1px solid transparent;
	&.standalone 		{
							display: 			block;
							margin: 			0 auto;
	}						
}
p, .p 					{
							text-align: 		justify;
							padding-left: 		20%;
							padding-right: 		20%;
	@media (max-width: $sm-break-point) 
	 					{
	 						hyphens: 			auto;
							text-align: 		left;	
	}
}

textarea + input 		{
							margin-top: 		20px;
}

.btn 					{
							font-size: 			80%;
}

.container-fluid 		{
							background: 		linear-gradient(135deg, $main_bg_color, #e3d3d3);
}

.help-block 			{
							margin-top: 		20px;
	&.error 			{
							color: 				#a94442;
	}						
}

.modal-backdrop.in 		{
						    opacity: 			.8;
						    background: 		linear-gradient(to bottom, black, black, rgba($main_ink_color, .9));
}

a.heading 				{
							border-bottom:		0px solid transparent;
							margin-top: 		10px;
							transition: 		.4s all;
	&:hover 			{
							color: 				crimson;
							text-decoration: 	none;
							border-bottom:		3px solid crimson;
		@media (max-width: $sm-break-point) {
							border-bottom:		none;
		}
	}
} 				

.modal 					{
							color: 				$main_bg_color;
							font-size: 			200%;

	@media (max-width: $sm-break-point) {
		a,
		#languageModalLbl
		 			{
							font-size: 			100%;
		}
	}

	a 					{
							color: 				$main_bg_color;
							transition: 		.2s ease all;
	}

	.select 			{
						    list-style: 		none;
						    margin-bottom: 		0;
						    margin-left: 		0;
						    padding-left: 		0;
						    padding-top: 		7px;

		&:hover li a 	{
							opacity: 			.5;
			&:hover 	{
							opacity: 			1;
			}
		}

		li 				{
			a			{
							display: 			block;
							text-decoration: 	none;	
							transition: 		.4s ease all;	
			}

			&.selected a{
							color: 				#fff;
							opacity: 			1;
				&::after{
							content: 			'\f058';
							display: 			inline-block;
							float: 				right;
							font-family: 		'FontAwesome';	
				}
			}
		}
	}

	.modal-header 		{
							border-radius: 		2px;
							border-bottom: 		3px solid $main_bg_color;
							font-size: 			inherit;	
		.modal-title 	{
							font-size: 			inherit;	
		}
		.close 			{
							color: 				$main_bg_color;
							font-size: 			100%;	
							margin-top: 		-56px;
							opacity: 			.6;
			:hover 		{
							opacity: 			1;
			}
		}
	}

	.modal-body 		{
							padding: 			0;
	}

	.modal-content 		{
							background: 		transparent;
							border: 			none;
							box-shadow: 		none;
							font-size: 			inherit;	
	}
	.modal-footer 		{
							border-radius: 		2px;
							border-top: 		3px solid $main_bg_color;
		a 				{

		}
	}
}

.figure-caption 		{
							font-family: 		'Miso Light';
							font-size: 			80%;
							margin-top: 		10px;	
							margin-bottom: 		30px;	
							opacity: 			.8;
} 

.form-control 			{
							font-size: 			75%;
}

.lightbox 				{
	.lb-outerContainer 	{
							border-radius: 		0;
	}
	.lb-image 			{
							border: 			0;
							border-radius: 		0;
	}
	.lb-data 			{
							color: 				#fff;
							margin-top: 		10px;
	}
	.lb-caption 		{
							font-size: 			inherit!important;
							font-weight: 		inherit!important;
	}
	.lb-number 			{
							font-size: 			70%!important;
	}
}

.after-before 			{	
							display: 			block;
							position: 			relative;
img 					{
							transition: 		.4s ease all;
		&:first-child 	{
							position: 			absolute;
							width: 				100%;
		}
	}
}

.img-scroll-container 	{
							display: 			inline-block;
							overflow-x: 		auto;
							width: 				100%;
}

.sm 					{ 	font-size: 			50%; 		}
.disabled 				{	opacity: 			.5;			
							pointer-events: 	none;
}
.cancel 				{	opacity: 			.7;			}


.underline 				{
							color: 				transparent;
							display: 			inline-block;
							border-bottom: 		1px solid $main_ink_color;
							transition: 		.2s ease all;
							white-space: 		nowrap;
							width: 				0;
	@media (max-width: $sm-break-point) {
							border-bottom: 		none;
	}						
	a:hover & 			{
							width: 				80%;
	}
}
.title 					{
							left:  				0; 
							margin-top: 		3px;
							position: 			absolute;
							right: 				0;
	@media (max-width: $sm-break-point) {
							font-size: 			200%;
	}
}

.vr 					{
							border-right: 		3px dotted rgba(0,0,0,.2);
							margin: 			0 auto;
							min-height: 		32px;
							width: 				1px;
}

.zoomable 				{
							cursor: 			zoom-in;
}

.bar 					{
							background-color:  	$main_ink_color;
							color: 				$main_bg_color;
							font-family: 		'Miso Light';
							font-size: 			100%;
							padding: 			10px;
							padding-bottom: 	6px;
							text-align: 		center;
	&.pipeline 			{
							bottom: 			-30px;
							left: 				0;
							position: 			absolute;
							right: 				0px;

	}
	p 					{
							margin-bottom: 		0;
							margin-top: 		3px;
							text-align: 		center;
	}
	a 					{
							color: 				inherit;
	}
}
.paper 					{
							background-color: 	#fff;
							padding: 			10px;
							padding-bottom: 	40px;
							padding-top: 		40px;
	&.pipeline 			{
							min-height: 		400px;
							padding-top: 		110px;

	}
}

#responsive-goat 		{
							border: 			none;

							height: 			0;
							left: 				0;
							opacity: 			0;
							overflow: 			hidden;
							pointer-events: 	none;
							position: 			fixed;
							top: 				0;
							transition: 		opacity 1s ease;
							width: 				100%;
							z-index: 			1000;
	body.resizing & 	{
							opacity: 			1;
							height: 			100%;
							min-height: 		100%;
	}
}

#languageSwitch 		{
							color: 				$main_ink_color;
							cursor: 			pointer;
							display: 			inline-block;
							height: 			40px;
							opacity: 			.6;
							position: 			absolute;
							right: 				110px;
							top: 				76px;
							transition: 		.2s ease all;
	&:hover				{
							color: 				crimson;
							opacity: 			1;
	}
}

.flex-container 		{
							display: 			flex;
							align-items: 		stretch;
							height: 			100vh;
	&.vertical 			{
							flex-direction: 	column;
	}
}

.vspacer 				{
							flex-grow: 			1;
}