<p class="translatable" data-translation-key="<%= __next('animator') %>" data-translation-transformer="marked">
	<%= marked(__current('animator')) %>
</p>
<div class="inner-container">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="854" height="480" src="//www.youtube.com/embed/U9OVmaEBiic?modestbranding=1&rel=0&color=%23ffd98f" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<p class="translatable" data-translation-key="<%= __next('animator') %>" data-translation-transformer="marked">
	<%= marked(__current('animator')) %> 
</p>