<p class="translatable" data-translation-key="<%= __next('linguist') %>" data-translation-transformer="marked">
	<%= marked(__current('linguist')) %>
</p>
<p><img src="img/wrong-teaching-style.jpg" class="standalone" max-width="800" width="90%"></p>
<p class="translatable" data-translation-key="<%= __next('linguist') %>" data-translation-transformer="marked">
	<%= marked(__current('linguist')) %> 
</p>
<p>
	<br>
	<a href="https://danborufka.github.io/protos/letters/tuby.html" target="_blank"><img src="img/letter-game.jpg" class="standalone" max-width="800" width="100%"></a>
	<br>
</p>
<p class="translatable" data-translation-key="<%= __next('linguist') %>" data-translation-transformer="marked">
	<%= marked(__current('linguist')) %> 
</p>