<style type="text/css">
	img {
		border: none;
		margin-top: 20px;
	}
</style>
<p class="translatable" data-translation-key="<%= __next('mathHat') %>" data-translation-transformer="marked">
	<%= marked(__current('mathHat')) %>
</p>
<p>
	<figure class="figure">
		<a href="img/works/danimator.jpg" class="translatable zoomable" data-lightbox="coding" data-title="<%= __('mathHat.works.danimator') %>" data-translation-key="mathHat.works.danimator" data-translation-transformer="destination.attr.data-title">
			<img src="img/works/danimator.jpg" width="100%" style="max-width:1119px">
		</a>
		<figcaption class="figure-caption translatable" data-translation-key="mathHat.works.danimator" data-translation-transformer="marked">
			<%= marked('mathHat.works.danimator') %>
		</figcaption>
	</figure>
</p>
<p class="translatable" data-translation-key="<%= __next('mathHat') %>" data-translation-transformer="marked">
	<%= marked(__current('mathHat')) %>
</p>
<p class="translatable" data-translation-key="<%= __next('mathHat') %>" data-translation-transformer="marked">
	<%= marked(__current('mathHat')) %>
</p>
<p class="translatable" data-translation-key="<%= __next('mathHat') %>" data-translation-transformer="marked">
	<%= marked(__current('mathHat')) %>
</p>
<p>
	<center>
		<figure class="figure">
			<img src="img/works/delaunay-brush.png">
			<figcaption class="figure-caption translatable" data-translation-key="mathHat.works.delaunay" data-translation-transformer="marked">
				<%= marked('mathHat.works.delaunay') %>
			</figcaption>
		</figure>
	</center>
</p>
<p class="translatable" data-translation-key="<%= __next('mathHat') %>" data-translation-transformer="marked">
	<%= marked(__current('mathHat')) %>
</p>
<p><img src="img/works/nessie.jpg" onclick="alert('Contact me at dan@polygoat.org if you want the original flash animation ;)')"></p>